@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

.margin_top {
    margin-top: 48px;
}


header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom right, #6312aa, #bc57e8)!important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }



.logo {
    max-width: 147px;
    height: 79px;
    float: left;
  }
  

  
  h1, .p {
    display: flex;
    justify-content: center;
  }

  h3 {
    color: #252422;
    position: absolute;
    top: 248px;
    left: 88px;
    cursor: pointer;
    text-align: center;
  }

  .bg_grey {
   
    width: 80%;
    position: relative;
    left: 105px;
  }

  .h4 {
    color: #252422;
    position: absolute;
    top: 248px;
    left: 58px;
    cursor: pointer;
  }

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;

}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  line-height: 70px;
}

nav ul li a:hover {
          background: rgb(77, 1, 77);
          color: #ffffff;
          transition: .4s;
}

nav ul li a:not(:only-child):after {
          padding-left: 4px;
          content: '  ▾'; }

nav ul li ul li {
  min-width: 160px;
  }

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;

  
}

a {
    text-decoration: none;
    color: white;
}

.div_principale h4 {
    font-size: larger;
}




.nav-mobile {
    display: none;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  
  @media only screen and (max-width: 800px) {
  
    .nav-mobile {
      display: block;
    }
    
    nav {
      width: 100%;
      padding: 0 15px;
    }
    
    nav ul {
      display: none;
    }
    
    nav ul li {
      float: none;
    }
    
     nav ul li a {
            padding: 15px;
            line-height: 20px; 
    }
  
    nav ul li ul li a {
            padding-left: 40px;
            background-color: gray;
    }
    
    .nav-dropdown {
      position: static;
    }
  }
  
  @media screen and (min-width: 800px) {
    .nav-list {
      display: block !important; } }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0; }
    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 4px;
      width: 30px;
      background: pink;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out; }
    #nav-toggle span:before {
      top: -10px; }
    #nav-toggle span:after {
      bottom: -10px; }
    #nav-toggle.active span {
      background-color: transparent; }
      #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0; }
      #nav-toggle.active span:before {
        transform: rotate(45deg); }
      #nav-toggle.active span:after {
        transform: rotate(-45deg); }
  
  

/**********************************/

.pagination {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #5A189A;
    color: white;
  }

  
  .pagination a:hover:not(.active) {background-color: #ddd;}

.animation {
  margin-top: -260px !important;
  --size: min(20vw, 20vh);
  --width: calc(var(--size) / 40);
  --dist: calc(var(--width) * 9.8);
  --count: 64;
  --bg: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif");
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--width);
}

.tube {
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: speen 6s infinite linear;
  width: calc(var(--dist) * 2);
  height: var(--size);
}
.tube:nth-child(1) {
  animation-delay: -7.5s;
}
.tube:nth-child(2) {
  animation-delay: -5s;
}
.tube:nth-child(3) {
  animation-delay: -2.5s;
}

.strip {
  transform-style: preserve-3d;
  background-color: white;
  height: var(--size);
  width: var(--width);
  position: absolute;
  background-image: var(--bg);
  background-size: calc(var(--width) * var(--count)) auto;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}
.strip:nth-child(1) {
  transform: rotateY(calc(1turn * 1 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -0) center;
}
.strip:nth-child(2) {
  transform: rotateY(calc(1turn * 2 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -1) center;
}
.strip:nth-child(3) {
  transform: rotateY(calc(1turn * 3 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -2) center;
}
.strip:nth-child(4) {
  transform: rotateY(calc(1turn * 4 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -3) center;
}
.strip:nth-child(5) {
  transform: rotateY(calc(1turn * 5 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -4) center;
}
.strip:nth-child(6) {
  transform: rotateY(calc(1turn * 6 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -5) center;
}
.strip:nth-child(7) {
  transform: rotateY(calc(1turn * 7 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -6) center;
}
.strip:nth-child(8) {
  transform: rotateY(calc(1turn * 8 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -7) center;
}
.strip:nth-child(9) {
  transform: rotateY(calc(1turn * 9 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -8) center;
}
.strip:nth-child(10) {
  transform: rotateY(calc(1turn * 10 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -9) center;
}
.strip:nth-child(11) {
  transform: rotateY(calc(1turn * 11 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -10) center;
}
.strip:nth-child(12) {
  transform: rotateY(calc(1turn * 12 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -11) center;
}
.strip:nth-child(13) {
  transform: rotateY(calc(1turn * 13 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -12) center;
}
.strip:nth-child(14) {
  transform: rotateY(calc(1turn * 14 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -13) center;
}
.strip:nth-child(15) {
  transform: rotateY(calc(1turn * 15 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -14) center;
}
.strip:nth-child(16) {
  transform: rotateY(calc(1turn * 16 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -15) center;
}
.strip:nth-child(17) {
  transform: rotateY(calc(1turn * 17 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -16) center;
}
.strip:nth-child(18) {
  transform: rotateY(calc(1turn * 18 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -17) center;
}
.strip:nth-child(19) {
  transform: rotateY(calc(1turn * 19 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -18) center;
}
.strip:nth-child(20) {
  transform: rotateY(calc(1turn * 20 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -19) center;
}
.strip:nth-child(21) {
  transform: rotateY(calc(1turn * 21 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -20) center;
}
.strip:nth-child(22) {
  transform: rotateY(calc(1turn * 22 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -21) center;
}
.strip:nth-child(23) {
  transform: rotateY(calc(1turn * 23 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -22) center;
}
.strip:nth-child(24) {
  transform: rotateY(calc(1turn * 24 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -23) center;
}
.strip:nth-child(25) {
  transform: rotateY(calc(1turn * 25 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -24) center;
}
.strip:nth-child(26) {
  transform: rotateY(calc(1turn * 26 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -25) center;
}
.strip:nth-child(27) {
  transform: rotateY(calc(1turn * 27 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -26) center;
}
.strip:nth-child(28) {
  transform: rotateY(calc(1turn * 28 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -27) center;
}
.strip:nth-child(29) {
  transform: rotateY(calc(1turn * 29 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -28) center;
}
.strip:nth-child(30) {
  transform: rotateY(calc(1turn * 30 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -29) center;
}
.strip:nth-child(31) {
  transform: rotateY(calc(1turn * 31 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -30) center;
}
.strip:nth-child(32) {
  transform: rotateY(calc(1turn * 32 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -31) center;
}
.strip:nth-child(33) {
  transform: rotateY(calc(1turn * 33 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -32) center;
}
.strip:nth-child(34) {
  transform: rotateY(calc(1turn * 34 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -33) center;
}
.strip:nth-child(35) {
  transform: rotateY(calc(1turn * 35 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -34) center;
}
.strip:nth-child(36) {
  transform: rotateY(calc(1turn * 36 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -35) center;
}
.strip:nth-child(37) {
  transform: rotateY(calc(1turn * 37 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -36) center;
}
.strip:nth-child(38) {
  transform: rotateY(calc(1turn * 38 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -37) center;
}
.strip:nth-child(39) {
  transform: rotateY(calc(1turn * 39 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -38) center;
}
.strip:nth-child(40) {
  transform: rotateY(calc(1turn * 40 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -39) center;
}
.strip:nth-child(41) {
  transform: rotateY(calc(1turn * 41 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -40) center;
}
.strip:nth-child(42) {
  transform: rotateY(calc(1turn * 42 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -41) center;
}
.strip:nth-child(43) {
  transform: rotateY(calc(1turn * 43 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -42) center;
}
.strip:nth-child(44) {
  transform: rotateY(calc(1turn * 44 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -43) center;
}
.strip:nth-child(45) {
  transform: rotateY(calc(1turn * 45 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -44) center;
}
.strip:nth-child(46) {
  transform: rotateY(calc(1turn * 46 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -45) center;
}
.strip:nth-child(47) {
  transform: rotateY(calc(1turn * 47 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -46) center;
}
.strip:nth-child(48) {
  transform: rotateY(calc(1turn * 48 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -47) center;
}
.strip:nth-child(49) {
  transform: rotateY(calc(1turn * 49 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -48) center;
}
.strip:nth-child(50) {
  transform: rotateY(calc(1turn * 50 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -49) center;
}
.strip:nth-child(51) {
  transform: rotateY(calc(1turn * 51 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -50) center;
}
.strip:nth-child(52) {
  transform: rotateY(calc(1turn * 52 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -51) center;
}
.strip:nth-child(53) {
  transform: rotateY(calc(1turn * 53 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -52) center;
}
.strip:nth-child(54) {
  transform: rotateY(calc(1turn * 54 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -53) center;
}
.strip:nth-child(55) {
  transform: rotateY(calc(1turn * 55 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -54) center;
}
.strip:nth-child(56) {
  transform: rotateY(calc(1turn * 56 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -55) center;
}
.strip:nth-child(57) {
  transform: rotateY(calc(1turn * 57 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -56) center;
}
.strip:nth-child(58) {
  transform: rotateY(calc(1turn * 58 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -57) center;
}
.strip:nth-child(59) {
  transform: rotateY(calc(1turn * 59 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -58) center;
}
.strip:nth-child(60) {
  transform: rotateY(calc(1turn * 60 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -59) center;
}
.strip:nth-child(61) {
  transform: rotateY(calc(1turn * 61 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -60) center;
}
.strip:nth-child(62) {
  transform: rotateY(calc(1turn * 62 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -61) center;
}
.strip:nth-child(63) {
  transform: rotateY(calc(1turn * 63 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -62) center;
}
.strip:nth-child(64) {
  transform: rotateY(calc(1turn * 64 / var(--count))) translateZ(var(--dist));
  background-position: calc(var(--width) * -63) center;
}

@keyframes speen {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}

.bg {
    background-image: url("./img/bar.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: -200px;
}

.title {
    position: relative;
    top: 250px;
    left: 240px;
    color: white;
    font-size: xx-large;
}

main {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    font-family: "Roboto", sans-serif;
  }
  
  .card {
    width: 14rem;
    height: 16rem;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  }
  .card img {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }
  .card h2 {
    position: absolute;
    color: black;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }


.mainh2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    color: #5A189A;
}

.info_site {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marg {
  margin-top: -100px;
  margin-bottom: 30px;
}

.info_site p {
    font-size: 15px;
    text-align: center;
    width: 80%;
}

.position_logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.position_img {
    display: flex;
    justify-content: center;
}

.img_section {
    background-image: url("./img/people.jpeg");
    width: 98%;
    height: 980px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .position_pg {
    background-color: rgb(221, 218, 218);
    opacity: 0.6;
    width: 34%;
    height: 70%;
    padding: 20px;
}

.position_pg p {
    font-weight: bold;
    text-align: center;
    line-height: 2;
    margin-top: 96px;
}

.position_pg h2 {
    text-align: center;
}

.color {
   color: #5A189A;
   display: flex;
   justify-content: center;
   margin-top: 36px;
}

.item__content__addButton {
	display: flex;
	justify-content: center;
	padding-top: 32px;
}
.item__content__addButton button {
	font-size: 22px;
	border-radius: 40px;
	border: 0;
	cursor: pointer;
    height: 60px;
    width: 200px;
    margin-bottom: 100px;
	background-color: #5A189A;
    color: white;
    width: auto;
}
.item__content__addButton button:hover {
	background-color: #340464;
    color: white;
}


.div_principale {
    background-color:  #5A189A;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 40px;
}

.icon_media {
    display: flex;
    gap: 20px;
    padding: 12px;
    
}

.media {
    font-size: 30px;
}

address p a {
    color: #FFEEDD;
}


footer {
    background-color: #252422;
    height: 100%;
    padding: 10px;
    color: white;
    
  }

  .lists {
    flex-direction: column;
  }

  .ligne_h {
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {
    .logo {
        max-width: 100%;
        height: 60px;
    }

    h1{
        text-align: center;
    }

    .title {
        position: relative;
        left: 15px;
        text-align: center;
    }

    main {
        flex-wrap: wrap;
        margin-top: -160px;
    }

    .main2 {
      margin-top: -121px;
    }

    .card {
        margin-top: 100px;
    }

    .mainh2 {
        font-size: 25px;
        text-align: center;
    }

    .info_site {
        line-height: 2;
    }

    .img_section {
        width: 99%;
        height: 800px;
    }

    .position_pg {
        width: 80%;
    }

    .position_pg p {
        margin-top: 20px;
        font-size: 14px;
    }

    .div_principale {
        flex-wrap: wrap;
    }

    .margin_top {
        margin-bottom: 78px;
    }

    .pagination {
      margin-top: 80px;
    }

    h3 {
      position: absolute;
      top: 248px;
      left: 74px;
    }

    .rsh3 {
      position: absolute;
      top: 248px;
      left: 89px;
    }

    .rsh2 {
      position: absolute;
      top: 248px;
      left: 75px;
    }

    .rsp {
      height: 30px;
    }

    h1, .p {
      text-align: center;
    }

    .color {
      text-align: center;
    }

    .bg_grey {
      position: relative;
      /* width: 50%; */
      /* max-height: 300px; */
      left: -1px;
      margin-top: -133px;
    }

    .position_logos {
      flex-direction: column;
    }
}